.block {
    display: flex;
    flex-direction: row;
    width: 700px;
    margin: 0 auto;
    border: 1px solid #c1a58c;
    min-height: 700px;
    position: relative;
    border-right: 0;
    background-color: #ADD8E6;
}
.todo {
    border-right: 1px solid;
    width: 350px;
    padding: 5px;
    color: #c1a58c;
}
.todo h2{
    font-size: 35px;
}
.abs {
    position: absolute;
    bottom: 5px;
}
input {
    width: 224px;
}
.todo ul li{
    font-size: 28px;
    margin: 10px;
}
.todo label{
    font-size: 20px;
}
.margin {
    margin: 15px;
}